
<%- include("../../partiales/header.ejs");%>
<%- include("../../partiales/navbar.ejs");%>
<br>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h1>Editar de categoria</h1>
      </div>
      <div class="card-body">
    <form method="POST" action="/category/update">
      <input type="text" name="title" placeholder="difine o titulo da categoria" class="form-control" value="<%=categoria.titulo%>">
      <input type="hidden"  name="id" value="<%=categoria.id%>">
      <br>
      <button class="bnt btn-primary">actualizar</button>
    </form>
  </div>
  </div>
  </div> 
<%- include("../../partiales/footer.ejs");%>